<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="us.oh.ocheeseus">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="us.oh.ocheeseus.ProfilePictureActivity"></activity>
        <activity android:name="us.oh.ocheeseus.UsernameActivity" />
        <activity android:name="us.oh.ocheeseus.LinkAccountActivity" />
        <activity android:name="us.oh.ocheeseus.MenuActivity" />
        <activity android:name="us.oh.ocheeseus.SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="us.oh.ocheeseus.HodenActivity" />
        <activity android:name="us.oh.ocheeseus.CounterActivity" />
        <activity
            android:name="us.oh.ocheeseus.HomeActivity"
            android:label="@string/title_activity_home"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name="us.oh.ocheeseus.RegisterActivity" />
        <activity android:name="us.oh.ocheeseus.LoginActivity" />
    </application>

</manifest>